<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GScode_Brasil.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GScode_Brasil.My.MySettings>
            <setting name="Database_Servidor" serializeAs="String">
                <value>192.168.2.200</value>
            </setting>
            <setting name="Database_Porta" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="Database_Banco" serializeAs="String">
                <value>gscode</value>
            </setting>
            <setting name="Database_Usuario" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Database_Senha" serializeAs="String">
                <value>ADcYhGwf4S2kbyMKqQRmcidLfnf9ZbrmuRs2d5tdEOromEmqty3BrkD3v/cFMU0X</value>
            </setting>
            <setting name="SFTP_Servidor" serializeAs="String">
                <value>192.168.2.200</value>
            </setting>
            <setting name="SFTP_Porta" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SFTP_Usuario" serializeAs="String">
                <value>mssql</value>
            </setting>
            <setting name="SFTP_Senha" serializeAs="String">
                <value>gXNbIr2dNP8YnGTZQnCCZfxlIlwq23+7xQp1dn0JP6M=</value>
            </setting>
            <setting name="SFTP_ChaveSSH" serializeAs="String">
                <value />
            </setting>
            <setting name="SFTP_BackupDatabase" serializeAs="String">
                <value>/sql/backup/</value>
            </setting>
            <setting name="SFTP_BackupSistema" serializeAs="String">
                <value>/gscode/GSHome/Backup_Sistema/</value>
            </setting>
            <setting name="SFTP_PhonebookClientes" serializeAs="String">
                <value>/gscode/Phonebook/Clientes/</value>
            </setting>
            <setting name="SFTP_PhonebookColaborador" serializeAs="String">
                <value>/gscode/Phonebook/Colaboradores/</value>
            </setting>
            <setting name="SFTP_PhonebookFornecedor" serializeAs="String">
                <value>/gscode/Phonebook/Fornecedores/</value>
            </setting>
            <setting name="SFTP_PhonebookParceiro" serializeAs="String">
                <value>/gscode/Phonebook/Parceiros/</value>
            </setting>
            <setting name="SFTP_HelpdeskOSExterno" serializeAs="String">
                <value>/gscode/Helpdesk/OS Atendimento Externo/</value>
            </setting>
            <setting name="SFTP_HelpdeskOSRemoto" serializeAs="String">
                <value>/gscode/Helpdesk/OS Atendimento Remoto/</value>
            </setting>
            <setting name="SFTP_Estoque" serializeAs="String">
                <value>/gscode/Estoque/</value>
            </setting>
            <setting name="SFTP_Financeiro_Nfe" serializeAs="String">
                <value>/gscode/Financeiro/NFe/</value>
            </setting>
            <setting name="SFTP_Financeiro_NFSe" serializeAs="String">
                <value>/gscode/Financeiro/NFSe/</value>
            </setting>
            <setting name="SFTP_Dashboard_Phonebook" serializeAs="String">
                <value>/gscode/Dashboard/Phonebook/</value>
            </setting>
            <setting name="SFTP_Dashboard_Helpdesk" serializeAs="String">
                <value>/gscode/Dashboard/Helpdesk/</value>
            </setting>
            <setting name="SFTP_Dashboard_Estoque" serializeAs="String">
                <value>/gscode/Dashboard/Estoque/</value>
            </setting>
            <setting name="SFTP_Dashboard_Financeiro" serializeAs="String">
                <value>/gscode/Dashboard/Financeiro/</value>
            </setting>
            <setting name="SMTP_Servidor" serializeAs="String">
                <value>mail.erimat.com.br</value>
            </setting>
            <setting name="SMTP_Porta" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTP_Usuario" serializeAs="String">
                <value>suporte@erimat.com.br</value>
            </setting>
            <setting name="SMTP_Senha" serializeAs="String">
                <value>gXNbIr2dNP8YnGTZQnCCZfxlIlwq23+7xQp1dn0JP6M=</value>
            </setting>
            <setting name="SMTP_Administrador" serializeAs="String">
                <value>guilherme@erimat.com.br</value>
            </setting>
            <setting name="SMTP_SSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcessoAdmin_Usuario" serializeAs="String">
                <value>admin@gscodebrasil.com.br</value>
            </setting>
            <setting name="AcessoAdmin_Senha" serializeAs="String">
                <value>gXNbIr2dNP8YnGTZQnCCZfxlIlwq23+7xQp1dn0JP6M=</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LembrarAcesso" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Acesso_Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Acesso_Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="Softphone_Nome" serializeAs="String">
                <value />
            </setting>
            <setting name="Softphone_Local" serializeAs="String">
                <value />
            </setting>
            <setting name="SFTP_ImagemUsuario" serializeAs="String">
                <value>/gscode/GSHome/Usuarios/</value>
            </setting>
        </GScode_Brasil.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
